.Field {
  display: flex;
  align-items: flex-start;
  font-size: 2rem;
}

.Field__input {
  background-color: transparent;
  font-size: 2rem;
  padding: 0;
  outline: 0;
  margin: 0;
  border: 0;
  width: 50px;
  text-align: right;
}

.Field__input:focus {
  background: black;
  color: white;
}
