.Timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Timer__time {
  font-size: calc(40vh - 30px);
  line-height: calc(40vh - 30px);
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: 'PT Mono', mono;
}

.Timer__stop {
  border: 0;
  background: black;
  color: white;
  padding: 0 10px;
  height: 30px;
}
